<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <h1>Log In</h1>
    <h1>{{ message }}</h1>
    <form action="{% url 'journal:login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="user_name" placeholder="Name">
        <input type="password" name="user_password" placeholder="Password">
        <input type="submit">
    </form>
</body>

</html>